* {
    all: unset;
    font-family: "Jetbrains Mono", sans-serif;
}


window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: #1e1e2e;
    font-family: "JetBrains Mono";
    font-size: 16px;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#entry:selected {
    background-color: #89b4fa; /* Твой голубой цвет */
    outline: none;
}

/* Текст ВНУТРИ выбранного элемента */
#text:selected {
    color: #1e1e2e !important; /* Глубокий темно-синий/черный для контраста с голубым */
    font-weight: bold; /* Можно добавить жирности, чтобы лучше читалось */
}

/* Если есть иконки, их тоже нужно подкрасить при выборе (опционально) */
#img:selected {
    background-color: transparent;
}
